.Carrer {
    min-height: 200px;
    padding: 10px;
    
}
.Carrer-text {
    font-size: 15px;
    margin-bottom: 20px;

}
.Email {
    margin-top: 18px;
}
.Margin-bottom {
    margin-bottom: 13px !important;
    display: block;
}
.Margin-bottom-text {
    margin-bottom: 30px !important;
}